.hero-image {
    background-image: url('../assets/heroImage.jpg');
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 21.875rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 21.875rem;
}

.homebanner-socialmedia {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: #147efb;
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: #e5e7eb;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #e5e7eb;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid #6c6e71;
    }
}

@keyframes words {
    0%, 20% {
        content: "Frontend Designer";
    }
    21%, 40% {
        content: "Web Designer";
    }
    41%, 60% {
        content: "Backend Developer";
    }
    61%, 80% {
        content: "MERN Developer";
    }
    81%, 100% {
        content: "FullStack Developer";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}